@font-face {
  font-family: 'Proxima';
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.otf");
}

@font-face {
  font-family: 'Proxima';
  font-display: swap;
  src: url("../fonts/ProximaNova-Reg.otf");
}

@font-face {
  font-family: 'ProximaBold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Black.otf");
}
$MainFont: 'Proxima', Helvetica, Arial, sans-serif;
$MainFontBold: 'ProximaBold', Helvetica, Arial, sans-serif;

@mixin section-main-title {
  font-family: $MainFontBold;
  font-size: 24px;
  line-height: 1.3;
}